@import "../../node_modules/bootstrap/scss/bootstrap";

/* Mine */
html,
body {
	height: 100%;
}

#root {
	height: 100%;
}

body {
	background-color: #66DD66;
	// border: 3px solid rgb(93, 240, 250);
	height: 100%;
}

body {
	font-family: Georgia, serif;
}

#app {
	height: 100%;
	// border: 3px solid rgb(120, 5, 158);
}

table {
	background-color: #cee46d;
	margin: 0 auto;
}

.home-page {
	min-width: 200px;
	max-width: 700px;
	margin: auto;

	.home-desc {
		max-width: 500px;
		margin: auto;
		@extend .my-3;
	}

	ul {
		text-align: left;
	}
}

.auth-page {
	width: 400px;
	margin: auto;

	.auth-form {
		width: 250px;
		margin: auto;

		input {
			margin: 3px;
			width: 100%;
		}
	}
}

th,
td {
	text-align: center;
}

.unselectable {
	-webkit-user-select: none; // Chrome all / Safari all 
	-moz-user-select: none; // Firefox all 
	-ms-user-select: none; // IE 10+ 
	user-select: none; // Likely future
}

.selectable {
	-webkit-user-select: text; // Chrome all / Safari all
	-moz-user-select: text; // Firefox all
	-ms-user-select: text; // IE 10+
	user-select: text; // Likely future
}

$headerHeight: 72px;

header {
	height: $headerHeight;
}

main {
	text-align: center;
	width: 100%;
	height: calc(100% - $headerHeight);
	// border: 3px solid rgb(158, 110, 5);
	padding: 0px;
}

#game-page {
	width: 100%;
	height: 100%;
	line-height: 2em;
	// border: 3px solid rgb(158, 5, 5);
}

// #game-history-page {
// 	text-align: center;
// 	width: 100%;
// 	height: 100%;
// }

#game {
	// text-align: center;
	// display: flex;
	// flex-direction: column;
	// justify-content: start;
	// align-items: center;
	width: 100%;
	height: 100%;
	min-height: 400px;
	min-width: 350px;
}

.game-button {
	width: 130px;
}

#game-history-controls {
	padding-bottom: 10px;
}

.game-history-button {
	width: 80px;
}


// #game-list-page {
// 	text-align: center;
// }

.game-list-button {
	width: 100%;
}

.attention {
	color: #FFA900 !important;
}

.myTurn {
	color: #00ff00;
}

#timer-table {
	width: 300px;
}

#join-game-table {
	width: 700px;
}

#records-table {
	width: 700px;
}


/* create-react-app */
// body h3 {
//   margin-bottom: 25px;
// }
/* .form-wrapper, */
/* .table-wrapper { */
/* max-width: 500px; */
/* margin: 0 auto; */
/* } */
/* .table-wrapper { */
/* max-width: 700px; */
/* } */
// .edit-link {
//   padding: 7px 10px;
//   font-size: 0.875rem;
//   line-height: normal;
//   border-radius: 0.2rem;
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
//   margin-right: 10px;
//   position: relative;
//   top: 1px;
// }
// .edit-link:hover {
//   text-decoration: none;
//   color: #ffffff;
// }