.navbar-brand a {
  color: #66DD66;
}

.nav-menu-link {
  border-bottom: 3px solid transparent;
  transition: transform .2s linear, border-bottom .2s linear;
}

.nav-menu-link:hover {
  transform: translateY(-2px);
}